<div layout="column" class="relative" layout-fill role="main">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                Fit Focus App
            </h3>
            <span flex></span>
        </div>
        <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
            <md-tab id="tab1" aria-controls="tab1-content">
                Comments
            </md-tab>
        </md-tabs>
    </md-toolbar>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
              ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
</div>

<form ng-submit="addComment()"
      style="margin-top:30px;">
    <h3>Add a new comment</h3>
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Comment"
               ng-model="comment.body">
    </div>
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Author"
               ng-model="comment.author">
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>