<div flex layout="row" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar ng-show="!showSearch" ayout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <md-icon md-svg-src='./css/svg/heart-beats.svg'></md-icon>
            <h3>
                Fit Focus App
            </h3>
            <span flex></span>
        </div>
    </md-toolbar>
</div>

<span flex></span>
<div ng-controller="dashBoardController" layout="column" style="height:500px;" ng-cloak>
    <section layout="row" flex="" layout-fill style="height: 200%;">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')" style="height: 100%;">
            <md-toolbar class="md-tall md-hue-2">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <user-avatar></user-avatar>
                    <span></span>
                    <div class="userinfo" ng-show="currentUser" ng-controller="RegistrationController">
                        <div>{{currentUser.firstname}} {{currentUser.lastname}}</div>
                        <div>{{currentUser.email }}</div>
                    </div>
                </div>
            </md-toolbar>
            <md-list>
                <md-item ng-repeat="item in menu">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="add_circle_outline"></ng-md-icon>
                        </div>
                        <md-button href="{{item.link}}">{{item.title}}</md-button>
                    </md-item-content>
                </md-item>
                <div class="inset">
                    <ng-md-icon icon="logout" size="30"></ng-md-icon>
                    <md-button href="#/login" ng-click="logout()">Logout</md-button>
                </div>
            </md-list>
        </md-sidenav>
        <md-content flex id="content" class="md-dashboard">
            <md-card layout-fill style="height: 100%;">
                <md-card-content>
                    <div align="center">
                        <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
                        <h2><b>Welcome {{currentUser.firstname}} {{currentUser.lastname}}</b></h2>
                        <p>Fit Focus Allows you to find the best fitness classes in your area to suit your needs.</p>
                        <p>Classes are rated by members of the fit focus community.</p>
                        <p><em>We hope you find the class that you are looking for!</em></p>
                        <md-icon md-svg-src='./css/svg/heart-beats.svg' align="center"></md-icon>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
    </section>
</div>

